*.* text eol=crlf
*.jpg binary
*.png binary
*.ico binary
*.exe binary
*.rc binary

# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
*.cmd linguist-documentation
*.nsi linguist-documentation